{% extends 'base.html' %}
{% load static %} 
{% block content %}

<section class="page-title parallax parallax1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    About Us
                </div>
                <ul class="breadcrumbs">
                    <li>
                        <a href="{% url 'index' %}" title="">Home</a>
                         <span class="arrow_right"></span>
                    </li>
                    <li>
                        Pages
                    </li>
                </ul>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="overlay"></div>
</section><!-- /.page-title -->

<section class="flat-row flat-introduce">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="introduce-header">
                    <p>
                        Dailist offers a simple way to connect with potential customers in your neighborhood, allowing you to take a step back from marketing your business so you can focus on your service or products. Elegent, simple and easy to use, Dailist is a fun and friendly place to hook up with your customers.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="introduce">
                    <div class="introduce-title">
                        <h3>Create An Account</h3>
                        <span>1</span>
                    </div>
                    <div class="introduce-content">
                        Creating an account with Dailist is easy, with the social login feature it allows your visitors to login easily, so that they won’t have the “login / Signup” friction. If not, You can upload photos, add helpful links to your website or to social media, set an address and hours of operation and other informations that you may find relevant. 
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="introduce-image">
                    <img src="{% static 'images/page/application.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="introduce-image">
                    <img src="{% static 'images/page/note.png' %}" alt="">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="introduce">
                    <div class="introduce-title">
                        <h3>Submit Your Listing</h3>
                        <span>2</span>
                    </div>
                    <div class="introduce-content">
                        Upon confirmation, your listing will appear throughout the website and will be searchable by visitors interested on similar places. A badge will be added to your listing to mark it as official.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="introduce">
                    <div class="introduce-title">
                        <h3>Get More Interest In Your Place</h3>
                        <span>3</span>
                    </div>
                    <div class="introduce-content">
                        When using Dailist your site will be a thing of beauty. Let’s be honest. The problem with most listing directories, while highly functional, is that many of them aren’t very pretty. It’s why the beautiful ones are so popular, because they match great photography with fantastic functionality.
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="introduce-image">
                    <img src="{% static 'images/page/like.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="introduce-footer">
                    <p>That’s what we’ve done with Dailist</p>
                    <div class="btn-more">
                        <a href="" title="">Get Started Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}