{% load static %}
<footer>
    <div class="footer-image-container">
        <img class="footer-image-main" src="{% static '/resource/img/footer/footer.png' %}" alt=""> 
        <img class="footer-image-center" src="{% static '/resource/img/footer/center.png' %}" alt=""> 
        <img class="footer-image-left" src="{% static '/resource/img/footer/left.png' %}" alt=""> 
        <img class="footer-image-right" src="{% static '/resource/img/footer/right.png' %}" alt=""> 
        <img class="footer-image-dot" src="{% static '/resource/img/dot.png' %}" alt=""> 
        <div class="bottom-menu">
            <ul class="bot-nav">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Fleet</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Last news</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="social-container">
            <a href="#"><i class="fa fa-facebook-square"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-twitter-square"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
        <p class="rights">©2020 RalOffshore</p>
    </div>
</footer>