{% load static %}
<nav class="menu">
    <img class="logo" src="{% static '/resource/img/logo.png' %}">
        <ol>
          <li class="menu-item"><a href="{% url 'index' %}">Home</a></li>
          <li class="menu-item"><a href="#0">About</a></li>
          <li class="menu-item">
            <a href="#0">Fleet</a>
            <ol class="sub-menu">
              <li class="menu-item"><a href="#0">Fleet1</a></li>
              <li class="menu-item"><a href="#0">Fleet2</a></li>
              <li class="menu-item"><a href="#0">Fleet3</a></li>
            </ol>
          </li>
          <li class="menu-item">
            <a href="#0">Services</a>
            <ol class="sub-menu">
              <li class="menu-item"><a href="#0">Services1</a></li>
              <li class="menu-item"><a href="#0">Services2</a></li>
              <li class="menu-item"><a href="#0">Services3</a></li>
            </ol>
          </li>
          <li class="menu-item"><a href="#0">Projects</a></li>
          <li class="menu-item"><a href="#0">Careers</a></li>
          <li class="menu-item"><a href="#0">Last news</a></li>
          <li class="menu-item"><a href="{% url 'contact' %}">Contact</a></li>
        </ol>
</nav>